{% extends 'base.html.twig' %}

{% block title %}Edit Banco{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Edit Banco</h1>

        {{ include('banco/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_banco_index') }}">back to list</a>

        {{ include('banco/_delete_form.html.twig') }}
    </div>
{% endblock %}
