{% extends 'base.html.twig' %}

{% block title %}New Banco{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Create new Banco</h1>

        {{ include('banco/_form.html.twig') }}

        <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_banco_index') }}">back to list</a>
    </div>
{% endblock %}
