<form method="post" action="{{ path('app_conta_delete', {'conta': conta.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conta.id) }}">
    <button class="btn btn-sm btn-outline-danger">Delete</button>
</form>
